* {
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.header {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-around;
    margin: 5px 0 20px 0;
}

.button {
    background-color: #555555;
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

.random {
    background-color: #f44336;
}

.clear {
    background-color: #008CBA;
}

.footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    width: 500px;
}

.board {
    border: 1px solid black;
    display: grid;
    width: 700px;
    height: 500px;
}